rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isDocOwner(email) {
      return request.auth.token.email == email;
    }
    function isSignedIn() {
      return request.auth != null && request.auth.uid != null;
    }

    match /gmail.com/{email}/priv/{key_name} {
      allow read,write: if isSignedIn() && isDocOwner(email);
    }
    match /gmail.com/{email}/pub/{key_name} {
      allow write: if isSignedIn() && isDocOwner(email);
      allow read: if true;
    }
    match /gmail.com/{email}/priv {
      allow read,write: if isSignedIn() && isDocOwner(email);
    }
    match /gmail.com/{email}/pub {
      allow write: if isSignedIn() && isDocOwner(email);
      allow read: if true;
    }
  }
}
